<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="footer">
    <div class="wrapper">
        <div>
          <a class="footer__link" href="/">Home</a> * 
          <a class="footer__link" href="/blog">Blog</a> * 
          <a class="footer__link" href="/faq">FAQ</a> *
          <a class="footer__link" target="__blank" href="{{site.urls.releases}}">Releases</a> *
          <a class="footer__link" target="__blank" href="{{site.urls.github}}">GitHub</a> *
          <a class="footer__link" target="__blank" href="{{site.urls.patreon}}">Patreon</a> *
        </div>
        <div class="footer_message">
            Tuist is a project developed with ♥ by <a class="footer__link" target="__blank" href="{{site.urls.pedro}}">Pedro Piñera</a> and other <a class="footer__link" target="__blank" href="{{site.urls.contributors}}">amazing contributors</a>.
        </div>
    </div>
  </div>

</footer>
