<header class="header" role="banner">
  <div class="header__credits-wrapper">
      A project from <a target="__blank" href="{{site.urls.pedro}}">Pedro Piñera</a> and the <a target="__blank" href="{{site.urls.contributors}}">Tuist org. contributors</a>
      <br/>
      <a href="/vision">Vision of the project</a>
  </div>
  <div class="header__wrapper">
    <img class="header__logo" src="/images/logo.png" alt="Logo of Tuist"/>

    <a class="header__title" href="/">
      Tuist
    </a>

    <div class="header__slogan">
        Xcode.make<span class="header__slogan-black">(</span>.accessible<span class="header__slogan-black">, for:</span> .everyone<span class="header__slogan-black">)</span>
    </div>

    <div class="header__links">
      <!-- Home -->
      <a class="header__links-link" href="/">Home</a> * 
      
      <!-- Blog -->
      {% if page.url contains "blog" %}
      <a class="header__links-link-enabled" href="/blog">Blog</a> * 
      {% else %}
      <a class="header__links-link" href="/blog">Blog</a> * 
      {% endif %}

      <!-- FAQ -->
      {% if page.url contains "faq" %}
        <a class="header__links-link-enabled" href="/faq">FAQ</a> * 
      {% else %}
        <a class="header__links-link" href="/faq">FAQ</a> * 
      {% endif %}


      <a class="header__links-link" target="__blank" href="{{site.urls.releases}}">Releases</a> * 
      <a class="header__links-link" target="__blank" href="{{site.urls.github}}">GitHub</a> *
      <a class="header__links-link" target="__blank" href="{{site.urls.patreon}}">Patreon</a> *
      <a class="header__links-link" target="__blank" href="{{site.urls.slack}}">Slack</a>

      <div>
        <a href="/open-source">Open source projects</a>
      </div>  
    </div>
  </div>
</header>