<header class="header" role="banner">
  <div class="header__credits-wrapper">
      A project from <a target="__blank" href="{{site.urls.pedro}}">Pedro Piñera</a> and the <a target="__blank" href="{{site.urls.contributors}}">Tuist org. contributors</a>
  </div>
  <div class="header__wrapper">
    <img class="header__logo" src="/images/logo.png"/>

    <a class="header__title" href="/">
      Tuist
    </a>

    <div class="header__slogan">
      <span class="header__slogan-let">let</span> xcode = <span class="header__slogan-text">"Scale"</span>
    </div>

    <div class="header__links">
      <a class="header__links-link" href="/">Home</a> * 
      <a class="header__links-link" href="/docs">Docs</a> * 
      <a class="header__links-link" href="/blog">Blog</a> * 
      <a class="header__links-link" href="/faq">Faq</a> * 
      <a class="header__links-link" target="__blank" href="{{site.urls.releases}}">Releases</a> * 
      <a class="header__links-link" target="__blank" href="{{site.urls.github}}">GitHub</a>
    </div>
  </div>
</header>