<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
  <script src="https://unpkg.com/tippy.js@2.5.4/dist/tippy.all.min.js"></script>
  {%- feed_meta -%}

  <!-- COMMON TAGS -->
  <meta charset="utf-8">
  <title>Tuist - Xcode at scale</title>
  <!-- Search Engine -->
  <meta name="description" content="{{site.description}}">
  <meta name="image" content="{{site.url}}/images/social.png">
  <!-- Schema.org for Google -->
  <meta itemprop="name" content="Tuist">
  <meta itemprop="description" content="Learn more about Tuist, why and how you can use it within your Xcode projects">
  <meta name="image" content="{{site.url}}/images/social.png">
  <!-- Twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Tuist">
  <meta name="twitter:description" content="Learn more about Tuist, why and how you can use it within your Xcode projects">
  <meta name="twitter:site" content="@tuistapp">
  <meta name="twitter:creator" content="@tuistapp">
  <meta name="twitter:image:src" content="{{site.url}}/images/social.png">
  <!-- Open Graph general (Facebook, Pinterest & Google+) -->
  <meta property="og:title" content="Tuist">
  <meta property="og:url" content="{{site.url}}"/>
  <meta property="og:description" content="Learn more about Tuist, why and how you can use it within your Xcode projects">
  <meta property="og:image" content="{{site.url}}/images/social.png">
  <meta property="og:site_name" content="Tuist">
  <meta property="og:locale" content="en_US">
  <meta property="og:type" content="website">

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="apple-mobile-web-app-title" content="Tuist">
  <meta name="application-name" content="Tuist">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
</head>
