.posts__list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.posts__post-date {
  font-size: $small-font-size;
  color: $grey-color;
  margin-bottom: $spacing-unit/2;
}

.posts__post-title {
  margin-top: $spacing-unit;
  @include bold-font;
}

.posts__post-title--case {
  color: $xcode-blue-marina;
}

.posts__post-excerpt {}

.posts__post-title--text {
  color: $xcode-red;

  &:visited {
    color: $xcode-red;
  }
  
  &:hover {
    color: $xcode-red;
    text-decoration: underline;
  } 
}