$grey-color: #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark: darken($grey-color, 25%) !default;
$text-color: #111 !default;
$background-color: #fdfdfd !default;
$xcode-pink: #E70078 !default;
$xcode-green: #009800 !default;
$xcode-blue-marina: #11848e;
$xcode-red: #D7243B;
$xcode-grey: #DBDBDB;
$window-close: #FF4F4E;
$window-minimize: #FFBD2D;
$window-maximize: #27CA41;