$grey-color: #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark: darken($grey-color, 25%) !default;
$text-color: #111 !default;
$background-color: #fdfdfd !default;
$xcode-pink: #AD0059 !default;
$xcode-green: #006600 !default;
$xcode-blue-marina: #0C5D65;
$xcode-red: #A81930;
$xcode-grey: #DBDBDB;
$xcode-swift: #A82200;
$xcode-purple: #543C94;
$window-close: #FF4F4E;
$window-minimize: #FFBD2D;
$window-maximize: #27CA41;