.docs__grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.docs__box {
  padding-top: $spacing-unit/2;
  padding-bottom: $spacing-unit/2;
  width: calc(#{$content-width}/3 - #{$spacing-unit*2});
  text-align: center;
  padding-left: $spacing-unit/2;
  padding-right: $spacing-unit/2;
  font-size: $small-font-size;
}

.docs__box-title {
  font-family: $bold-font-family;
  @include relative-font-size(1.250);
}

.docs__box-excerpt {
  padding-top: $spacing-unit/2;
  padding-bottom: $spacing-unit/2;
}

.docs__box-readmore {

}