.docs__grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.docs__box {
  padding-top: $spacing-unit/2;
  padding-bottom: $spacing-unit/2;
  width: calc(#{$content-width}/3 - #{$spacing-unit*2});
  display: flex;
  text-align: center;
  justify-content: flex-start;
  flex-direction: column;
  padding-left: $spacing-unit/2;
  padding-right: $spacing-unit/2;
  font-size: $small-font-size;
}

.docs__box-title {
  font-family: $bold-font-family;
  @include relative-font-size(1.250);
  flex: 0;
}

.docs__box-excerpt {
  padding-top: $spacing-unit/2;
  padding-bottom: $spacing-unit/2;
  flex: 1;
}

.docs__box-readmore {
  justify-self: flex-end;
}