.footer {
  background: $xcode-blue-marina;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: $base-font-size;
  color: white;
}

.footer__link {
  color: white;
  text-decoration: none;
  
  &:visited {
    color: white;
  }
  
  &:hover {
    color: white;
    text-decoration: underline;
  } 
}

.footer_message {
  margin-top: 15px;
  font-size: $small-font-size;
}