.home__page {
  display: flex;
  flex-direction: column;
}

.home__title {
  text-align: center;
}

.home__title-what {
  text-align: left;
}

.home__title-features {
  text-align: left;
}

.home__what-highlight {
  color: $xcode-blue-marina;
}

.home__what-swift {
  color: $xcode-swift;
}

.home__back-to-top {
  text-align: center;
  margin-top: $spacing-unit*2;
}

.home__window {
  display: flex;
  border: 1px solid $xcode-grey;
  flex-direction: column;
}

.home__window-bar {
  height: 25px;
  background: lighten($xcode-grey, 10%);
  border-bottom: 1px solid $xcode-grey;
  display: flex;
  align-items: center;
  padding-left: $spacing-unit/2;
  padding-right: $spacing-unit/4;
}

.home__window-button {
  height: 12px;
  width: 12px;
  border-radius: 6px;
  margin-right: $spacing-unit/4;
}

.home__window-close {
  @extend .home__window-button;
  background: $window-close;
}

.home__window-copy {
  border: none;
  background: transparent;
  cursor: pointer;
  color: darken($xcode-grey, 30%);

  &:hover {
    color: $xcode-blue-marina;
  }
}

.home__window-minimize {
  @extend .home__window-button;
  background: $window-minimize;
}

.home__window-maximize {
  @extend .home__window-button;
  background: $window-maximize;
}

.home__window-content {
  padding: $spacing-unit;
}

.home__window--start {
  margin: $spacing-unit;
}

.home__commands--container {
  text-align: center;
}

.home__commands {
  width: 320px;
}

.home__command-not-available {
  color: $xcode-blue-marina;
}

.home__why--when {
  color: $xcode-pink;
}

.home__grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.home__box {
  padding-top: $spacing-unit/2;
  padding-bottom: $spacing-unit/2;
  width: calc(#{$content-width}/2 - #{$spacing-unit*4});
  display: flex;
  text-align: center;
  justify-content: flex-start;
  flex-direction: column;
  margin: $spacing-unit/2;
  padding-left: $spacing-unit/2;
  padding-right: $spacing-unit/2;
  font-size: $small-font-size;
  border: 1px;
  border-color: $xcode-purple;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
}

.home__box-title {
  font-family: $bold-font-family;
  @include relative-font-size(1.250);
  flex: 0;
  color: $xcode-purple;
}

.home__box-excerpt {
  padding-top: $spacing-unit/2;
  padding-bottom: $spacing-unit/2;
  flex: 1;
}

.home__box-readmore {
  justify-self: flex-end;
}