.page__title {
  @include relative-font-size(1.8);
  letter-spacing: -1px;
  line-height: 1;
  margin-bottom: $spacing-unit;

  @include media-query($on-laptop) {
    @include relative-font-size(1.5);
  }
}

.page__content {
  padding: $spacing-unit 0;
  flex: 1;
  margin-bottom: $spacing-unit;

  h1 {
    @include relative-font-size(2.1);

    @include media-query($on-laptop) {
      @include relative-font-size(1.85);
    }
  }

  h2 {
    @include relative-font-size(1.4);

    @include media-query($on-laptop) {
      @include relative-font-size(1.2);
    }
  }

  h3 {
    @include relative-font-size(1.325);

    @include media-query($on-laptop) {
      @include relative-font-size(1.150);
    }
  }

  h4 {
    @include relative-font-size(1.00);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}

.page__improve-paragraph {
  text-align: center;
  margin-top: $spacing-unit;
  margin-bottom: $spacing-unit;
}