--- 
layout: default 
---

{% assign author = site.data.authors[page.author] %}

<div class="page__content">
    <article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
      <header class="post__header">
        <img class="post__header-avatar" src="{{author.avatar}}"/>
        <span itemprop="author" class="post__header-author" itemscope itemtype="http://schema.org/Person">
          Post written by <a target="__blank" class="p-author h-card" itemprop="name" href="https://twitter.com/{{author.twitter}}">{{ author.name }}</a>
        </span>
        <time class="post__header-published-at" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%} {{ page.date | date: date_format }}
        </time>
        <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
      </header>
    
      <div class="e-content" itemprop="articleBody">
        {{ content }}
      </div>
      <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>

      {% include improve.html %}

      {% include share-bar.html %}

      <div class="post__next">
          {% if page.next and page.next.categories contains "blog" %}
          <a href="{{ page.next.url }}">Next Post</a>
          {% endif %}
      </div>
      
    </article>
</div>
